.Root {
  position: relative;
  overflow: hidden;
  background: white;
  height: 100vh;
  overflow: auto;

  .Markdown {
    padding: 0.8em;

    pre code {
      display: block;
      max-width: 100%;
      overflow-x: auto;
      padding: 0.4em;
      background: #eee;
      border: solid 1px #ddd;
      border-radius: 2px;
    }
  }
}

