version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:8.9
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          key: v1-dependencies-{{ checksum "package.json" }}

      - run: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run: mkdir -p $CIRCLE_ARTIFACTS/logs
      - run: curl -L -o google-chrome.deb https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
      - run: sudo dpkg -i google-chrome.deb
      - run: sudo sed -i 's|HERE/chrome\"|HERE/chrome\" --disable-setuid-sandbox|g' /opt/google/chrome/google-chrome
      - run: rm google-chrome.deb
      - run: ./node_modules/.bin/selenium-standalone install
      - run:
          command: ./node_modules/.bin/selenium-standalone start
          background: true

      - run: npm test
      - run: npm run build
      - run: ./node_modules/.bin/istanbul report --include $CIRCLE_ARTIFACTS/coverage/coverage.json --dir $CIRCLE_ARTIFACTS/coverage html lcov
