// MAP
.maputnik-map__container {
  background: white;
  display: flex;
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: $layout-map-width;

  &--error {
    align-items: center;
    justify-content: center;
  }

  &__error-message {
    margin: 16px;
    text-align: center;
  }
}

.maputnik-map__map {
  width: 100%;
  height: 100%;
}

.maputnik-input-block:hover,
.maputnik-filter-editor-compound-select:hover {
  .maputnik-doc-button {
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
    vertical-align: middle;
  }
}

// DOC LABEL
.maputnik-doc {

  &-wrapper {
    display: inline-block;
    box-sizing: border-box;
    font-size: $font-size-6;
    line-height: 2;
    user-select: none;
    position: relative;
    vertical-align: top;
  }

  &-popup {
    display: none;
    background-color: var(--maputnik-base__background-color);
    color: var(--maputnik-text__color);
    padding: $margin-2;
    font-size: 10px;
    position: absolute;
    top: 20px;
    left: 0;
    width: 120px;
    z-index: 10;
    pointer-events: none;
  }

  &-button {
    opacity: 0;
    pointer-events: none;
    background: var(--maputnik-base__background-color);
    color: var(--maputnik-sdk-docs-button__color);
    border: none;
    padding: 4px;

    svg {
      pointer-events: none;
    }

    &--open {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.maputnik-doc-inline {
  color: $color-lowgray;
  background-color: $color-gray;
  padding: $margin-2;
  font-size: 12px;
  margin-top: $margin-3;
  line-height: 1.5;
  flex: 1 0;
}

.maputnik-doc-target:hover .maputnik-doc-popup {
  display: block;
  text-align: left;
  vertical-align: middle;
}

// BUTTON
.maputnik-button {
  display: inline-block;
  cursor: pointer;
  background-color: var(--maputnik-action-primary__background-color);
  color: var(--maputnik-action-primary__color);
  font-size: $font-size-6;
  padding: var(--maputnik-button__padding);
  user-select: none;
  border-width: 0;
  border-radius: 2px;
  box-sizing: border-box;
  text-decoration: none;
  line-height: var(--maputnik-button__line-height);
  font-family: inherit;
  margin-left: 0.2em;

  &--subtle {
    background-color: var(--maputnik-button__background-color--subtle);
    color: var(--maputnik-button__color--subtle);
  }


  &:not(:disabled)::hover {
    background-color: $action-primary__background-color--highlighted;
    color: $action-primary__color--highlighted;
  }

  &:disabled {
    background-color: $action-primary__background-color--disabled;
    color: $action-primary__color--disabled;
    cursor: not-allowed;
  }
}

.maputnik-big-button {
  display: inline-block;
  font-size: $font-size-5;
}

.maputnik-icon-button {
  background-color: var(--maputnik-button__background-color--subtle);
  color: var(--maputnik-button__color--subtle);

  svg {
    cursor: black;
  }

  &:hover:not(:disabled) {
    color: var(--maputnik-button__color--subtle--hover);

    label,
    svg {
      cursor: pointer;
    }
  }
}

// INPUT BLOCK
.maputnik-input-block {
  margin: $margin-3;
  display: flex;
  flex-wrap: wrap;

  &-label {
    color: $color-lowgray;
    user-select: none;
    width: 32%;
    vertical-align: top;
    font-size: 12px;
  }

  &-action {
    user-select: none;
    width: 18%;
    vertical-align: top;
    font-size: 12px;

    display: flex;
    justify-content: flex-end;
    line-height: var(--maputnik-input__line-height);
    padding: 4px 0px;
  }

  &-content {
    width: 50%;
  }
}

.maputnik-action-block {
  .maputnik-input-block-label {
    display: inline-block;
    width: 32%;
  }

  .maputnik-input-block-action {
    vertical-align: top;
    display: inline-block;
    width: 18%;

    display: flex;
    justify-content: flex-end;
    line-height: var(--maputnik-input__line-height);
    padding: 4px 0px;
  }

  .maputnik-input-block-action > div {
    text-align: right;
  }

}

.maputnik-data-spec-block,
.maputnik-zoom-spec-property {
  .maputnik-inline-error {
    margin-left: 32%;
  }
}

// SPACE HELPER
.maputnik-space {
  @include vendor-prefix(flex-grow, 1);
}

// MESSAGE PANEL
.maputnik-message-panel {
  padding: $margin-2;
  max-height: 180px;
  overflow-y: auto;
  overflow-x: hidden;

  &-error {
    color: $color-red;
  }

  &__switch-button {
    all: unset;
    text-decoration: underline;
    cursor: pointer;
  }
}

.maputnik-dialog {
  &__buttons {
    text-align: right;
  }
}

.map-state-menu {
  display: inline-block;

  &__menu {
    position: absolute;
    z-index: 999999;
    background: $color-black;
    display: flex;
    flex-direction: column;
    align-content: stretch;

    li {
      display: flex;
      flex-direction: column;

      button {
        width: 100%;
        text-align: left;
      }
    }
  }
}

.maputnik-inline-error {
  color: #a4a4a4;
  padding: 0.4em 0.4em;
  font-size: 0.9em;
  border: solid 1px $color-red;
  border-radius: 2px;
  margin: $margin-2 0px;
}

.maputnik-expression-editor {
  border: solid 1px $color-gray;
}

.maputnik-input-block--wide {
  .maputnik-input-block-content {
    display: block;
    width: auto;
    flex: 1;
  }

  .maputnik-input-block-label {
    width: 82%;
  }

  .maputnik-input-block-action {
    text-align: right;
  }
}

.maputnik-expr-infobox {
  font-size: $font-size-6;
  background: $color-midgray;
  padding: $margin-2;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  color: $color-white;
}

.maputnik-expr-infobox__button {
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  color: currentColor;
  cursor: pointer;
}

