//SCROLLING
.maputnik-scroll-container {
  overflow-x: hidden;
  overflow-y: scroll;
  bottom: 0;
  left: 0;
  right: 0;
  top: 1px;
  position: absolute;
}

//APP LAYOUT
.maputnik-layout {
  font-family: $font-family;
  color: $color-white;

  &-list {
    position: absolute;
    bottom: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    width: 200px;
    background-color: $color-black;
  }

  &-drawer {
    position: absolute;
    bottom: 0;
    height: 100%;
    top: 0;
    left: 200px;
    z-index: 1;
    width: 370px;
    background-color: $color-black;
  }

  &-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: $layout-map-width;
    background-color: $color-black;
  }
}
