//SCROLLING
.maputnik-scroll-container {
  overflow-x: visible;
  overflow-y: scroll;
  bottom: 0;
  left: 0;
  right: 0;
  top: 1px;
  position: absolute;
}

//APP LAYOUT
.maputnik-layout {
  font-family: $font-family;
  color: $color-white;
  flex-direction: column;

  &-list {
    z-index: 3;
    width: 200px;
    position: relative;
    background-color: $color-black;
  }

  &-drawer {
    z-index: 1;
    width: 350px;
    position: relative;
    background-color: $color-black;
  }

  &-bottom {
    position: fixed;
    height: 50px;
    bottom: 0;
    left: 550px;
    z-index: 1;
    width: 100%;
    background-color: $color-black;
  }
}
