

.chrome-picker {
  background-color: var(--maputnik-base__background-color) !important;
  font-family: inherit !important;
}

.chrome-picker input {
  background-color: var(--maputnik-input__background-color) !important;
  color: var(--maputnik-input__color) !important;
  box-shadow: none !important;
}
