*:not(select) {
  &::-webkit-scrollbar {
    background-color: $scrollbar-background-color;
    width: $scrollbar-size;
    height: $scrollbar-size;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px $scrollbar-thumb-background-color;
    background-color: $scrollbar-thumb-background-color;
    padding-left: 2px;
    padding-right: 2px;
  }

  ::-webkit-scrollbar-corner {
    background: $scrollbar-background-color;
  }
  
  // Styling for Firefox
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-thumb-background-color $scrollbar-background-color;
}
