// TOOLBAR
.maputnik-toolbar {
  background-color: $color-black;
  overflow: hidden;
  flex: 0 0 40px;
  transition: flex-basis 160ms cubic-bezier(0.4, 0.0, 0.2, 1);

  &--open {
    flex-basis: 180px;
  }
}

// TODO: Should go elsewhere
button {
  cursor: pointer;

  &:active {
    background: #444;
  }

  &:focus {
    background: #333;
    outline: none;
  }
}

.hide {
  display: none !important;
}

.menu {
  padding: 10px;
  background: inherit;
  border: none;
  text-align: left;
  border-bottom: solid 1px $color-midgray;
  color: white;

  svg {
    width: 20px;
    height: 20px;
  }
}

.maputnik-toolbar-logo {
  width: 170px;
  text-align: left;
  background-color: $color-black;
  padding: $margin-2;
  height: 35px;
  display: inline-block;
  position: relative;

  h1 {
    display: inline;
  }

  img {
    width: 30px;
    padding-right: $margin-2;
    vertical-align: top;
  }
}

.maputnik-toolbar-link {
  vertical-align: top;
  height: 40px;
  display: inline-block;
  padding: $margin-3;
  font-size: $font-size-5;
  cursor: pointer;
  color: $color-white;
  text-decoration: none;
  line-height: 20px;
  background: inherit;
  border: none;
  text-align: left;

  h1 {
    position: relative;
  }

  &:hover {
    background-color: $color-midgray;
  }

  svg {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}

.maputnik-toolbar-version {
  position: absolute;
  font-size: 10px;
  bottom: 10px;
  margin-left: 4px;
}

.maputnik-toolbar-action {
  @extend .maputnik-toolbar-link;
}

.maputnik-icon-text {
  padding-left: $margin-1;
}

.maputnik-icon-action {
  display: inline;
  margin-left: $margin-1;
}

.maputnik-toolbar__inner {
  display: flex;
  flex-direction: column;
}

.maputnik-toolbar__actions {
  white-space: nowrap;
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
