// TOOLBAR
.maputnik-toolbar {
  @import 'scrollbar';

  width: 100%;
  z-index: 100;
  left: 0;
  background-color: $color-black;
}

.maputnik-toolbar-logo-container {
  position: relative;
}

.maputnik-toolbar-logo {
  text-decoration: none;
  display: block;
  flex: 0 0 190px;
  width: 200px;
  text-align: left;
  background-color: $color-black;
  padding: $margin-2;
  position: relative;
  overflow: hidden;

  &__name {
    display: inline;
    line-height: 26px;
    color: white;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
  }

  svg {
    width: 30px;
    padding-right: $margin-2;
    vertical-align: top;
  }
}

.maputnik-toolbar-link {
  vertical-align: top;
  display: inline-block;
  padding: $margin-3;
  font-size: $font-size-5;
  cursor: pointer;
  color: $color-white;
  text-decoration: none;
  line-height: 20px;

  h1 {
    position: relative;
  }

  &:hover {
    background-color: $color-midgray;
  }
}

.maputnik-toolbar-link--highlighted {
  line-height: 1;
  padding: $margin-2 $margin-3;

  .maputnik-toolbar-link-wrapper {
    background-color: $color-white;
    border-radius: 2px;
    padding: $margin-2;
    margin-top: $margin-1;
    color: $color-black;
    display: block;
  }

  &:hover {
    background-color: $color-black;
  }

  &:hover .maputnik-toolbar-link-wrapper {
    background-color: lighten($color-midgray, 12);
    color: $color-white;
  }
}

.maputnik-toolbar-name {
  text-transform: capitalize;
}

.maputnik-toolbar-version {
  font-size: 10px;
  margin-left: 4px;
  white-space: nowrap;
}

.maputnik-toolbar-action {
  background: inherit;
  border-width: 0;
  @extend .maputnik-toolbar-link;
}

.maputnik-toolbar-select {
  background: inherit;
  border-width: 0;
  @extend .maputnik-toolbar-link;

  select {
    margin-left: 6px;
    border-width: 0;
    display: inline;
    width: auto;
    border: solid 1px $color-midgray;
    vertical-align: inherit;
    margin-top: -2px;
  }
}

.maputnik-icon-text {
  padding-left: $margin-1;
}

.maputnik-icon-action {
  display: inline;
  margin-left: $margin-1;
}

.maputnik-toolbar__inner {
  display: flex;
}

.maputnik-toolbar__actions {
  white-space: nowrap;
  flex: 1;
  overflow-y: auto;
}

.maputnik-toolbar-skip {
  all: unset;
  border: solid 1px transparent;
  position: absolute;
  overflow: hidden;
  width: 0px;
  height: 100%;
  text-align: center;
  display: block;
  background-color: $color-black;
  z-index: 999;
  line-height: 40px;
  left: 0;
  top: 0;

  &:active,
  &:focus {
    width: 100%;
    border-color: $color-lowgray;
  }
}

