:root {
  /**
   * ---------------------
   * Public CSS module API
   * ---------------------
   * WARNING: This is a publicly exposed API.
   *
   * Any changes to keys here will be considered a breaking change to the component based
   * API, so should be carefully considered. Changes to values should also be
   * considered although we recommend that a consumer of the Maputnik as a
   * component should override all variables defined here, so value changes
   * won't be considered breaking changes.
   */
  --maputnik-scrollbar-background-color: #26282e;
  --maputnik-scrollbar-size: 8px;
  --maputnik-scrollbar-thumb-background-color: #aaa;
  --maputnik-scrollbar-size: 8px;

  --maputnik-font-size-1: 24px;
  --maputnik-font-size-2: 20px;
  --maputnik-font-size-3: 18px;
  --maputnik-font-size-4: 16px;
  --maputnik-font-size-5: 14px;
  --maputnik-font-size-6: 12px;
  --maputnik-font-family: Roboto, sans-serif;
  --maputnik-outline-color: red;

  // These should be named by action rather than color value
  --maputnik-color-black: #191b20;
  --maputnik-color-gray: #222429;
  --maputnik-color-midgray: #303237;
  --maputnik-color-lowgray: #a4a4a4;
  --maputnik-color-white: #f0f0f0;
  --maputnik-color-red: #cf4a4a;
  --maputnik-color-green: #53b972;

  --maputnik-margin-1: 3px;
  --maputnik-margin-2: 5px;
  --maputnik-margin-3: 10px;
  --maputnik-margin-4: 30px;
  --maputnik-margin-5: 40px;

  --maputnik-layout-list-width: 200px;
  --maputnik-layout-editor-width: 370px;

  // New bits...
  --maputnik-input-border-color: #d9d9d9;
  --maputnik-input-border-radius: 2px;
  --maputnik-input-background-color: #fff;
  --maputnik-input-icon-color: #000;

  --maputnik-accordian-background-color: #fafafa;
  --maputnik-accordian-border-color: #e8e8e8;

  --maputnik-button-primary-background-color: #0077c8;
  --maputnik-button-primary-color: white;
  --maputnik-button-primary-radius: 4px;

  --maputnik-button-primary-hover-background-color: hsla(204, 100%, 46%, 1);
  --maputnik-button-primary-hover-color: white;
  --maputnik-button-primary-disabled-background-color: #e4e4e4;
  --maputnik-button-primary-disabled-color: #adadad;

  --maputnik-docs-dropdown-background-color: 1;
  --maputnik-docs-dropdown-table-border-color: 1;

  --maputnik-menu-button-menu-background-color: #fff;
  --maputnik-menu-button-menu-border-color: #e8e8e8;
  --maputnik-menu-button-menu-border-radius: 3px;
  --maputnik-menu-button-menu-box-shadow: 1;

  --maputnik-layer-list-selected-background-color: #dddfe2;
  --maputnik-layer-list-selected-color: black;
  --maputnik-layer-list-selected-border-color: 1;

  --maputnik-toolbar-border-color: #e8e8e8;

  --maputnik-text-color: #000;

  --maputnik-sdk-support-table-border-color: #c1c1c1;

  --maputnik-input__background-color: #222429;
  --maputnik-action-primary__background-color: #303237;
  --maputnik-action-primary__color: #a4a4a4;
}


$scrollbar-background-color: var(--maputnik-scrollbar-background-color);
$scrollbar-size: var(--maputnik-scrollbar-size);
$scrollbar-thumb-background-color: var(--maputnik-scrollbar-thumb-background-color);
$scrollbar-size: var(--maputnik-scrollbar-size);


$text__color:
  var(--maputnik-text__color);
$text__color--light:
  var(--maputnik-text__color--light);
$text__color--inverted:
  var(--maputnik-text__color--inverted);

$action-primary__background-color: 
  var(--maputnik-action-primary__background-color);
$action-primary__color: 
  var(--maputnik-action-primary__color);

$action-primary__background-color--highlighted:
  var(--maputnik-action-primary__background-color--highlighted);
$action-primary__color--highlighted:
  var(--maputnik-action-primary__color--highlighted);

$action-primary__background-color--disabled:
  var(--maputnik-action-primary__background-color--disabled);
$action-primary__color--disabled:
  var(--maputnik-action-primary__color--disabled);

$action-secondary__background-color: 
  var(--maputnik-action-secondary__background-color);
$action-secondary__color: 
  var(--maputnik-action-secondary__color);

$action-secondary__background-color--highlighted: 
  var(--maputnik-action-secondary__background-color--highlighted);
$action-secondary__color--highlighted: 
  var(--maputnik-action-secondary__color--highlighted);

$input__background-color: 
  var(--maputnik-input__background-color);
$input__color: 
  var(--maputnik-input__color);
$input__border: 
  var(--maputnik-input__border);
$input__border-radius: 
  var(--maputnik-input__border-radius);

$kbd__background-color: 
  var(--maputnik-kbd__background-color);
$kbd__color: 
  var(--maputnik-kbd__color);
$kbd__border: 
  var(--maputnik-kbd__border);
$kbd__border-radius: 
  var(--maputnik-kbd__border-radius);

// $action-primary-disabled: var(--maputnik-color-black);
// $action-secondary: var(--maputnik-color-black);
// $action-secondary-highlighted: var(--maputnik-color-black);
// $action-secondary-disabled: var(--maputnik-color-black);

$color-black:   var(--maputnik-color-black);
$color-gray:    var(--maputnik-color-gray);
$color-midgray: var(--maputnik-color-midgray);
$color-lowgray: var(--maputnik-color-lowgray);
$color-white:   var(--maputnik-color-white);
$color-red:     var(--maputnik-color-red);
$color-green:   var(--maputnik-color-green);

$margin-1:      var(--maputnik-margin-1);
$margin-2:      var(--maputnik-margin-2);
$margin-3:      var(--maputnik-margin-3);
$margin-4:      var(--maputnik-margin-4);
$margin-5:      var(--maputnik-margin-5);

$font-family:   var(--maputnik-font-family);
$font-size-1:   var(--maputnik-font-size-1);
$font-size-2:   var(--maputnik-font-size-2);
$font-size-3:   var(--maputnik-font-size-3);
$font-size-4:   var(--maputnik-font-size-4);
$font-size-5:   var(--maputnik-font-size-5);
$font-size-6:   var(--maputnik-font-size-6);

$toolbar-height: 48px;
$toolbar-offset: 0;
$layout-list-width: var(--maputnik-layout-list-width);
$layout-editor-width: var(--maputnik-layout-editor-width);
$layout-map-width: calc(100% - (var(--maputnik-layout-list-width) + var(--maputnik-layout-editor-width)));
// $layout-map-width: calc(100% - #{$layout-list-width + $layout-editor-width});


// 'menu-down' from 'https://materialdesignicons.com/'
// See <https://github.com/Templarian/MaterialDesign/blob/master/LICENSE>
$icon-down-arrow: "data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'><path fill='currentColor' d='M7,10L12,15L17,10H7Z' /></svg>"
