@import 'vars';
@import 'mixins';
@import 'reset';
@import 'base';
@import 'components';
@import 'scrollbar';
@import 'picker';
@import 'toolbar';
@import 'modal';
@import 'export';
@import 'layout';
@import 'layer';
@import 'input';
@import 'filtereditor';
@import 'zoomproperty';
@import 'popup';
@import 'map';
@import 'codemirror';
@import 'react-collapse';

/**
 * Hacks for webdriverio isVisibleWithinViewport
 */
#app {
  height: 100%;
}

.maputnik-layout {
  height: 100%;
}

.react-icons {
  vertical-align: middle;
  width: 14px;
  height: 14px;
}

.maputnik-data-spec-property {
}

.maputnik-data-fieldset-inner {
  background: $color-black;
  border: solid 1px $color-midgray;
  border-radius: 2px;
  position: relative;

  // HACK: Overide
  .maputnik-input-block {
    margin: $margin-2;
  }

  .maputnik-add-stop {
    display: inline-block;
    float: none;

    &:last-child {
      margin-right: 0;
    }
  }

  .maputnik-toolbox {
    margin: $margin-3;
    margin-top: $margin-3;
    text-align: right;
  }

}

.maputnik-data-spec-property {
  legend {
    font-size: $font-size-6;
    color: $color-lowgray;
    margin-bottom: $margin-3;
  }

  .maputnik-data-spec-property-group {
    margin-bottom: $margin-2;
  }
}

.maputnik-data-spec-block {
  margin: $margin-3;
}

.maputnik-function-stop {
  padding-left: $margin-2;
  padding-right: $margin-2;
}

.maputnik-function-stop-table {
  text-align: left;
  margin-bottom: $margin-2;
  box-sizing: border-box;
  width: 100%;

  thead th {
    padding: $margin-1 $margin-2;
    padding-left: 0;
    color: $color-lowgray;
  }

  td, th {
    font-size: $font-size-6;
    color: $color-white;

    // HACK
    > * {
      display: inline-block;
      width: 100%;
      vertical-align: text-top;
    }

    &:not(:first-child)
    {
      padding-top: $margin-1;
      padding-left: $margin-2;
    }

    &:nth-child(1) {
      width: 2em;
    }

    &:nth-child(2) {
      width: 6em;
    }

    &:nth-child(3) {
      width: auto;
    }

    &:nth-child(4) {
      // HACK
      width: 1.8em;

      .maputnik-delete-stop {
        padding: 0;
        width: 1em;
      }
    }
  }

  &--zoom {
    td, th {
      &:nth-child(2) {
        width: auto;
      }

      &:nth-child(3) {
        // HACK
        width: 1.8em;

        .maputnik-delete-stop {
          padding: 0;
          width: 1em;
        }
      }
    }
  }

  caption {
    color: $color-lowgray;
    text-align: left;
    border-top: solid 1px $color-black;
    font-size: $font-size-6;
    height: 0px;
    overflow: hidden;
  }
}

// ------------------
// root level [start]
// ------------------
html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#app {
  min-height: 100%;
  display: flex;
  height: 100%;
  flex: 1;
}
// ------------------
// root level [end]
// ------------------

// --------------------------
// temp custom code [start]
// --------------------------
.custom__maputnik {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 1.4rem;
  margin-right: 1.4rem;
  margin-top: 5.2rem;
	border: solid 1px #e9edfa;
	border-bottom: none;

  @media (max-width: 920px) {
    background: red;
		border-left: none;
		border-right: none;
    margin-left: 0;
    margin-right: 0;
  }

  &__toolbar {
    padding: 0.4em;
    background: white;
    border-bottom: solid 1px #e9edfa;

    button, input, select {
      margin-right: 0.4em;
    }
  }

  &__editor {
    flex: 1;
    position: relative;
    overflow: hidden;
  }
}
// --------------------------
// temp custom code [end]
// --------------------------
